@media(max-width: 2200px){
  .cocktail-show-header{
    display: flex;
  }
  
  .photo-cocktail-show, .cocktail-show-info{
    width:50%;
    padding: 40px;
  }
  .cocktail-show-info{
    margin-top: 0;
    overflow-y:scroll;
    height: 100vh;
    .cocktail-name-title{
      font-size:90px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .fa-long-arrow-alt-right{
      margin-right: 10px;
    }
 
    .quantity-counter{
    margin-top: 50px;
    }
  }
  .photo-cocktail-show{
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
  }
  #new-ingredient{
    padding: 40px;
    display: flex;
    #ingredient-form{
      display: flex;
      justify-content: space-around;
    }
  }
}

@media(max-width: 600px){
  .cocktail-show-header{
    display: block;
  }
  
  .photo-cocktail-show, .cocktail-show-info{
    width:100%;
    padding: 20px;
  }
  .photo-cocktail-show{
    height: 60vh;
    position: fixed;
    top:0;
    z-index: -1;
  }

  .cocktail-show-info{
    z-index: 1;
    height: auto;
    margin-top: 60vh;
    background-color: white;
    overflow-y:hidden;
    .fa-long-arrow-alt-right{
      margin-right: 10px;
    }
 
    .quantity-counter{
      margin-top: 50px;
      }
    .cocktail-name-title{
      font-size:60px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  #new-ingredient{
    padding: 10px;
    display: block;
    #ingredient-form{
      display: flex;
      justify-content: center;
    }
    .white-title{
      font-size: 20px;
    }
  }
}


// .cocktail-show-header{
//   display: flex;
// }

// .photo-cocktail-show, .cocktail-show-info{
//   width:50%;
//   padding: 40px;
// }

// LEFT COLUMNN

.back-to-cocktails{
  display: flex;
  color: white;
  font-family: 'Bebas Neue', cursive;
  align-items: center;
p{
  margin-bottom: 0px;
}
  .fa-long-arrow-alt-left{
    margin-right: 10px;
  }
  &:hover{
    text-decoration: none;
    color: white;
  }
}

#ingredient-form{
  display: flex;
  justify-content: space-around;
}
//RIGHT COLUMN

.cocktail-name-title{
  margin-bottom: 0;
}

.buble-i{
  padding: 8px;
  background-color: $main-yellow;
  margin-right: 10px;
  color: white;
}

.no-recipe{
  margin-bottom: 40px;
}

.cocktail-show-info{
  .cocktail-name-title{
    text-shadow: $main-blue 2px 2px;
  }
  // overflow-y:scroll;
  // height: 100vh;
  a:hover{
    text-decoration: none;
    color: $main-grey;
  }
}

::-webkit-scrollbar{
  display: none;
}

.instructions-all{
  display: flex;
  justify-content: space-between;
  .fa-edit{
    color: $main-yellow;
    font-size: 12px;
  }
}

// form-add-instruction

.instructions-list{
  margin-bottom: 40px;
}

#btn-total-form{
  &:hover{
    text-shadow: $main-yellow 2px 2px;
  }
}

#instruction-form{
  background-color: rgba(65, 65, 65, 0.103);
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 40px;
  select{
    border-radius: 0;
    border: none;
    background-color: white;
    &:focus{
      box-shadow: none;
    }
  }
  .form-control.string.required{
    border-radius: 0;
    border: none;
    background-color: white;
    &:focus{
      box-shadow: none;
    }
    &::placeholder{
      font-size: 16px;
      color: rgba(65, 65, 65, 0.425);
    }
  }
}

.submit-instruction{
  background-color: white;
  font-size: 22px;
  font-family: 'Bebas Neue', cursive;
  color:$main-grey;
  text-decoration: none;
  border: 2px solid $main-grey;
  box-shadow: 5px 5px 0 $main-grey;
  padding: 12px;
  transition: transform .4s;
  &:hover{
    background-color: white;
    font-size: 22px;
    font-family: 'Bebas Neue', cursive;
    color:$main-grey;
    text-decoration: none;
    border: 2px solid $main-grey;
    box-shadow: 10px 10px 0 $main-grey;
    transform: scale(1.05);
    transition: transform .4s;
    padding: 12px;
  }
 }

// ingredient form 

#new-ingredient{
  background-color: $main-blue;
  // padding: 40px;
  text-align: center;
  justify-content: space-around;
  // display: flex;
  #send-ingredient{
    border:none;
    color: white;
    background-color: $main-grey;
    height: 100%;
  }
  #ingredient-form{
    display: flex;
    // justify-content: space-around;
  }
  .form-group.string.required.ingredient_name{
    margin:0;
  }
  .form-control.string.required{
    border-radius: 0;
    border: none;
    background-color: white;
    margin: 0;
    height: max-content;
    &:focus{
      box-shadow: none;
    }
    &::placeholder{
      font-size: 16px;
      color: rgba(65, 65, 65, 0.425);
    }
  }
}


// have to log

.have-to-log{
  display: flex;
  align-items: center;
  margin-top: 20px;
  p{
  font-family: 'Bebas Neue', cursive;
  margin: 0px;
  }
  a{
    font-size: 16px;
    color: $main-grey;
    text-decoration: underline;
    &:hover{
      text-shadow: 2px 2px $main-yellow;
    }
  }
}

//quantity counter

.quantity{
  display: flex;
  justify-content: space-between;
}

.form-control.numeric.numeric.required{
  border: none;
  width: 90%;
  &:focus{
    box-shadow: none;
  }
  &::placeholder{
    font-size: 16px;
    color: rgba(65, 65, 65, 0.425);
  }
}


.quantity-counter{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  margin-bottom: 50px;
  .quantity-plus{
    margin-left: 20px;
    text-align: center;
    // padding-bottom: 10px;
    // padding-top: 10px;
    background-color: $main-blue;
    padding: 5px;
    color: white;
    font-size: 10px;
  }
  .quantity-minus{
    margin-right: 20px;
    text-align: center;
    // padding-bottom: 10px;
    // padding-top: 10px;
    background-color: $main-blue;
    padding: 5px;
    color: $white;
    font-size: 10px;
  }
  p{
    margin-bottom: 0px
  }
  input#recipe-counter{
    padding: 0;
    width: 20px;
    margin-top: 0;
    color: $main-grey;
    font-family: 'Montserrat', sans-serif;
    &:focus{
      outline: none !important;
    }
  }
  .fa-cocktail{
    font-size: 20px;
    margin-top:-5px;
    color: $main-grey;
    margin-left: 0;
  }
}