.all-index-page{
  position:absolute;
  height:100%;
  width:100%;
}
//HEADER


@media(max-width: 2200px){
  .header{
    padding: 40px 20px 0px 40px;
  }
  .header-title{
    font-size:90px;
  }
}

@media(max-width: 1100px){
  .header{
    padding: 40px 20px 0px 40px;
  }
  .header-title{
    font-size:90px;
  }
}

@media(max-width: 600px){
  .header{
    padding: 0px 10px 0px 10px;
  }
  .header-title{
    font-size: 40px;
  }
}


.header{
  // background-image: url('cascade.png');
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  z-index: 0;
  width: 100%;
}

.header-title{
  font-family: 'Bebas Neue', cursive;
  margin: 0px;
  // font-size:90px;
}

.header-shadow{
  color: $main-blue;
  text-shadow: $main-grey 2px 2px;
}


// CARDS

@media(max-width: 2200px){
  .cards-box{
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    padding: 10px 40px 40px 40px;
    grid-gap: 40px;
    margin-top: 450px;
    img{
      height: 400px;
    }
    .card-low{
      margin-top: 40px;
      margin-bottom: 0px;
    } 
    .cocktail-name{
      font-size: 40px;
    }
  }
}

@media(max-width: 1100px){
  .cards-box{
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    padding: 10px 40px 40px 40px;
    grid-gap: 40px;
    margin-top: 450px;
    img{
      height: 250px;
    }
    .card-low{
      margin-top: 40px;
      margin-bottom: 0px;
    } 
    .card-normal{
      margin-bottom: 40px;
    }
    .cocktail-name{
      font-size: 30px;
    }
  }
}

@media(max-width: 600px){
  .cards-box{
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    padding: 10px 10px 10px 10px;
    grid-gap: 10px;
    margin-top: 200px;
    img{
      height: 200px;
    }
    .card-low{
      margin-top: 0px;
      margin-bottom: 10px;
    } 
    .card-normal{
      margin-bottom: 10px;
    }
    .cocktail-name{
      font-size: 30px;
    }
  }
}

.cards-box{
  position:relative;
  display: grid;
  // grid-gap: 40px;
  // padding: 10px 40px 40px 40px;
  z-index: 1;
  background-color: white;
  // margin-top: 82vh;

  img{
    width: 100%;
    // height: 400px;
    object-fit: cover;
  }
}

.card-low{
  // margin-top: 40px;
  // margin-bottom: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 100%;
  &:hover{
    color: $main-grey;
    text-shadow: $main-yellow 2px 2px;
    text-decoration: underline;
    transition: transform .4s;
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
}

.card-normal{
  // margin-bottom: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 100%;
  &:hover{
    color: $main-grey;
    text-shadow: $main-yellow 2px 2px;
    text-decoration: underline;
    transition: transform .4s;
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
}

.cocktail-name{
  text-overflow: clip;
  // font-size: 40px;
  text-decoration: underline;
  width: 100%;
  &:hover{
    color: $main-grey;
    text-decoration: underline;
  }
}

//MISSING COCKTAIL

@media(max-width: 2200px){
  #missing-cocktail{
    padding: 40px;
  }
  #btn-add-cocktail{
    left: 42%;
    right: 42%;
  }
}

@media(max-width: 1100px){
  #missing-cocktail{
    padding: 40px;
  }
  #btn-add-cocktail{
    left: 25%;
    right: 25%;
  }
}

@media(max-width: 600px){
  #missing-cocktail{
    padding: 10px;
  }
  #btn-add-cocktail{
    left: 22%;
    right: 22%;
  }
}


#missing-cocktail{
  z-index: 1;
  background-color: $main-blue;
  // padding: 40px;
  text-align: center;
  height: 250px;
  position: relative;
}

#missing-title{
  color:white;
}

#btn-add-cocktail{
  position: absolute;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  // left: 42%;
  // right: 42%;
  text-align: center;
}