.all-index-page{
  position:absolute;
  height:100%;
  width:100%;
}
//HEADER

.header{
  padding: 40px 20px 0px 40px;
  background-image: url('cascade.png');
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  z-index: 0;
  width: 100%;
}

.header-title{
  font-family: 'Bebas Neue', cursive;
  margin: 0px;
  font-size:90px;
}

.header-shadow{
  color: $main-blue;
  text-shadow: $main-grey 2px 2px;
}


// CARDS

.cards-box{
  position:relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  padding: 10px 40px 40px 40px;
  z-index: 1;
  background-color: white;
  margin-top: 82vh;

  img{
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}

.card-low{
  margin-top: 40px;
  margin-bottom: 0px;
  &:hover{
    color: $main-grey;
    text-shadow: $main-yellow 2px 2px;
    text-decoration: underline;
    transition: transform .4s;
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
}

.card-normal{
  margin-bottom: 40px;
  &:hover{
    color: $main-grey;
    text-shadow: $main-yellow 2px 2px;
    text-decoration: underline;
    transition: transform .4s;
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
}

.cocktail-name{
  font-size: 40px;
  text-decoration: underline;
  &:hover{
    color: $main-grey;
    text-shadow: $main-blue 2px 2px;
    text-decoration: underline;
  }
}

//MISSING COCKTAIL

#missing-cocktail{
  z-index: 1;
  background-color: $main-blue;
  padding: 40px;
  text-align: center;
  height: 250px;
  position: relative;
}

#missing-title{
  color:white;
}

#btn-add-cocktail{
  position: absolute;
  bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  left: 42%;
  right: 42%;
  text-align: center;
}