<div id="instruction-form" class='d-none'>
<%= simple_form_for([cocktail, instruction], remote: true) do |f| %>
  <%= f.association :ingredient, :prompt => "Choose an ingredient" %>
  <%= f.input :quantity, placeholder:'Ex: 5 cl'%>
  <%= f.submit "ADD THE NEW DOSE", class:'submit-instruction' %>
<% end %>
</div>
