// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body{
  background-color: white;
  padding:0;
  margin:0;
}


h1, h2, h3, h4, a{
  font-family: 'Bebas Neue', cursive;
 }

 h1, h2, h3, h4, h5, h6, p, a{
 color: $main-grey;
 }

 p{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
 }

 a.btn-white{
  color:white;
  text-decoration: none;
  border: 2px solid white;
  box-shadow: 5px 5px 0 white;
  padding: 12px;
  font-size: 20px;
  &:hover{
    font-size: 20px;
    color:white;
    text-decoration: none;
    border: 2px solid white;
    box-shadow: 5px 5px 0 white;
    transform: scale(1.05);
    transition: transform .4s;
    padding: 12px;
  }
 }

input.btn-white{
  font-size: 22px;
  font-family: 'Bebas Neue', cursive;
  background-color: $main-blue;
  color:white;
  text-decoration: none;
  border: 2px solid white;
  box-shadow: 5px 5px 0 white;
  padding: 12px;
  &:hover{
    font-size: 22px;
    font-family: 'Bebas Neue', cursive;
    background-color: $main-blue;
    color:white;
    text-decoration: none;
    border: 2px solid white;
    box-shadow: 5px 5px 0 white;
    transform: scale(1.05);
    transition: transform .4s;
    padding: 12px;
  }
 }

 label{
  font-family: 'Montserrat', sans-serif;
}

::placeholder{
  font-family: 'Montserrat', sans-serif;
  color: $main-blue;
  font-size: larger;
}

input{
  border: none;
  padding: 15px;
  margin-top: 10px;
}

a{
  font-size: 20px;
}

.white-title{
  color: white;
}

html {
  scroll-behavior: smooth;
}